<li>
  <input type="radio" name="tabs" id="tab4">
          <label for="tab4" class="tab-label"><i class="fa fa-user-secret"></i>Siguiendo</label>
          <div id="tab-content-list" class="tab-content animated fadeIn">
            <ul class="follow-list" id="followingList">
            {% if following|length > 0 %}

              {% for follow in following %}
              <li class="follow-item row center-v space-bet-h">
                <a href="{{ path('user_profile', {'id': follow.user.id}) }}"  class="user">
                  <i class="fa fa-user"></i>
                  {{follow.user.name}}
                </a>
                {% if app.user != null and app.user.id == user.id  %}
                  <div class="btn btn-unfollow" data-id="{{follow.user.id}}">Unfollow</div>
                {% endif %}
              </li>
              {% endfor %}

            {% else %}
              {{user.name}} no sigue a nadie
            {% endif %}
            </ul>
          </div>
</li>
